<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>聚类</title>
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/main.css">
</head>

<body>
    <div id="left-container">
        <div id="decsription">
            <div id="type-charts-button">
                <button></button>
            </div>
            <h2>拖曳图表绘制</h2>
        </div>

        <div id="left-charts">
            <div id="left-charts-top">
                <div id="pie-chart">
                    <div class="pie-chart-list" id="pie1"></div>
                    <div class="pie-chart-list" id="pie2"></div>
                </div>
            </div>
            <div id="left-charts-bottom">
                <div id="column-chart">
                    <div class="column-chart-list" id="column1"></div>
                    <div class="column-chart-list" id="column2"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="right-container">
        <div id="magnifying">
            <span id="plus" class="chosen">
                <img src="/image/search_plus.png" alt="放大"/>
            </span>
            <span id="minus">
                <img src="/image/search_minus.png" alt="缩小"/>
            </span>
        </div>
        <div id="scatter-chart"></div>
    </div>


    <script src="/lib/jquery-2.0.3.js"></script>
    <script src="/lib/highcharts-4.0.1/js/highcharts.js"></script>
    <script src="/lib/highcharts-4.0.1/js/highcharts-3d.js"></script>
    <script src="/lib/highcharts-4.0.1/js/modules/drilldown.js"></script>
    <script src="/lib/sea.js"></script>
    <script src="/lib/seajs-css.js"></script>

    <script>
        seajs.use("/javascripts/init.js");
    </script>
</body>
</html>
