<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>聚类</title>
   <!-- <link rel="stylesheet" href="/lib/boostrap.min.css">-->
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <div id="left-container">
        <div id="decsription">
            <h2>Dragged area</h2>
        </div>
        <div id="left-charts">
            <div id="top-menu" class="menu">
                <ul id="top-menu-list" class="menu-list">
                    <li class="matrix-radio">
                        <input type="radio" id="matrix-1" name="radio-1" value="matrix" />
                        <label for="matrix-1">矩阵连接图</label>
                    </li>
                    <li class="pie-radio">
                        <input type="radio" id="pie-1" name="radio-1" value="pie" checked="true"/>
                        <label for="pie-1">饼图</label>
                    </li>
                    <li class="column-radio">
                        <input type="radio" id="column-1" name="radio-1" value="column" />
                        <label for="column-1">条形图</label>
                    </li>
                </ul>
            </div>
            <div id="left-charts-top">
                <div class="pie-chart" data-chart-type="pie"> </div>
            </div>
            <div id="bottom-menu" class="menu">
                <ul id="bottom-menu-list" class="menu-list">
                    <li class="matrix-radio">
                        <input type="radio" id="matrix-2" name="radio-2" value="matrix" />
                        <label for="matrix-2">矩阵连接图</label>
                    </li>
                    <li class="pie-radio">
                        <input type="radio" id="pie-2" name="radio-2" value="pie"/>
                        <label for="pie-2">饼图</label>
                    </li>
                    <li class="column-radio">
                        <input type="radio" id="column-2" name="radio-2" value="column"  checked="true"/>
                        <label for="column-2">条形图</label>
                    </li>
                </ul>
                </ul>
            </div>
            <div id="left-charts-bottom">
                <div class="column-chart" data-chart-type="column"></div>
            </div>
        </div>
    </div>
    <div id="right-container">
        <div id="scatter-menu">
            <div id="plus" class="chosen">
                <img src="/image/search_plus.png" alt="放大"/>
            </div>
            <div id="minus">
                <img src="/image/search_minus.png" alt="缩小"/>
            </div>
            <div id="single-point-drag">
                单点拖曳
            </div>
            <div id="set-points-drag">
                单簇拖曳
            </div>
            <div id="all-points-drag">
                簇集拖曳
            </div>
            <div id="chart-rotate">
                旋转
            </div>
        </div>
        <div id="scatter-chart"></div>
    </div>

    <div class="zoom-range"></div>

    <script src="/lib/jquery-2.0.3.js"></script>
    <script src="/lib/highcharts-4.0.1/js/highcharts.js"></script>
    <script src="/lib/highcharts-4.0.1/js/highcharts-3d.js"></script>
    <script src="/lib/highcharts-4.0.1/js/modules/drilldown.js"></script>
    <script src="/lib/sea.js"></script>
    <script src="/lib/seajs-css.js"></script>

    <script>
        seajs.use("/javascripts/init.js");
    </script>
</body>
</html>
