body {
  background: black;
}
#left-container {
  width: 40%;
  float: left;
}
#right-container {
  width: 60%;
  float: right;
}
#magnifying {
  text-align: center;
  position: relative;
  top: 30px;
  z-index: 3000;
}
#plus,#minus {
  display: inline-block;
}
#plus img,#minus img {
  height: 20px;
}
#plus.chosen,#minus.chosen {
  border: 2px solid #DDEEFF;
  padding: 2px;
  background: #C2D8EF;
}
